*{
    margin: 10px;
}

.component{
    background-color: rgb(238, 185, 185);
    text-align: center;
    margin: 20px 0px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header{
    padding: 10px;
}

.footer{
    text-align: center;
}
